body {
    background-color: aqua;
    color: #000;
}
.wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-image: url('https://imgur.com/cjQuqx4.jpg') ;
}

.videoClip {
    display: block;
    position: relative;
    margin: 100px auto;
   
}

header {
    text-align: center;
    margin-top: 30px;
}

.clipName {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman,serif ;
    font-size: 2em;
    text-transform: uppercase;
    color: yellow;
    margin-top: -95px;
}

.margina {
    margin-top: 249px;
}

.cursive {
    font-family: 'Cedarville Cursive', cursive;
}