
* {
    text-align: center;
    /*box-sizing: content-box;*/
}

body {
    background-color: aqua;
    color: #000;
    transition: background 3s ease-in-out;
}
 
body:hover {
    transition-duration: 15s;
    background-color: orchid;
}

.dobrodosli {
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
   /* ||shorthand transition: transform 2s ease-in-out;*/
}

.dobrodosli:hover {
    transition-duration: 3s;
    transform: rotateZ(360deg);
}

.wrapper {
    text-align: center;
    width: 90%;
    margin: 100px auto 0;
    background-image: url('https://imgur.com/cjQuqx4.jpg');
}


.videoClip {
    /*display: block;*/
    position: relative;
    margin: 100px auto;
    /*transition: transform 2s;*/
}

/*.videoClip:hover {
    transform: rotateX(360deg);
}*/


   
header {
    text-align: center;
    margin-top: 30px;
}

a {
    text-decoration-line: none;
}

.clipName {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman,serif ;
    font-size: 2em;
    text-transform: uppercase;
    color: yellow;
    margin-top: -95px;
    transition: all 3s ease-in-out;
    font-weight: bolder;
}

.clipName:hover {
    /*NE TREBA trnsition-property ovde, može transition-duration, ako hoćeš da se vraća u prvobitno stanje brže-kraće...transition: all 3s ease-in-out;*/
    transform: translate(50px, 0);
    color: #fff;
}

.marginaVic {
    margin-top: 249px;
    transition: all 8s;
}

.marginaVic:hover {
    transition-duration: 4s;
    transform: scale(2,2);
    opacity: 0.8;
}

.cursive, .dno, .forma {
    font-family: 'Cedarville Cursive', cursive;
}

.cursive {
    margin: 50px auto;
}


/*flexbox*/

.flex {
    display: flex;
}

.video, .vic, .kontakt, .sponzor {
    font-size: 2em;
    font-weight: bolder;
    flex-grow: 1;
    border: 2px solid white;
    border-radius: 5%;
    text-decoration-color: none;
}

.video {
    background-color: chocolate;
    color: khaki;
}

.video:hover {
    background-color: khaki;
    color: chocolate;
}

.vic {
    background-color: green;
    color: violet;
}

.vic:hover {
    background-color: violet;
    color: green;
    
}

.kontakt {
    background-color: steelblue;
    color: wheat;
}

.kontakt:hover {
    background-color: wheat;
    color: steelblue;
}

.sponzor {
    background-color: navy;
    color: mediumturquoise;
}

.sponzor:hover {
    background-color: mediumturquoise;
    color: navy;
}



/*forma/kontakt*/

.dno {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: darkred;
    margin: 300px auto 600px;
}



/*Ucenje&Druzenje Unltd*/

.ucenje {
    display: inline;
    position: relative;
    left: 6%;
}

.druzenje {
    display: inline;
    position: relative;
    right: 4%;
    
}

.velikoIdebelo {
/*INHERITED from .ucenjIdruzenje >> font-family: Arial, Helvetica, sans-serif;*/
    font-size: 2em;
    font-weight: 900;
    color: #fff;
}

.velikoIdebelo:hover {
    opacity: 0.8;
}

.ucenjeIdruzenje {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.priblizi {
    transition: transform 4s ease-in-out;
    /*transition-delay: 1s;*/
}

.zarotiraj {
    transition: transform 5s ease-out;
    /*transition-delay: 1s;*/
}

.priblizi:hover {
    /*ne treba - redundantno!: transition: transform 4s ease-in-out;*/
    transform: scale(3,3);
}

.zarotiraj:hover {
    transition-duration: 4s; 
    transform: rotate(1200deg);
}

/*forma*/
.forma {
    margin-top: 5%;
    font-size: 1.5em;
}

.stampanTekst {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.razlogDrugo {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/*KRAJ*/
.konac {
    font-family: 'Cedarville Cursive', cursive;
    /*margin-top: 5%; */
}
/*.kraj {
    font-family: 'Cedarville Cursive', cursive;
}*/

.konacUnderline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.cvetak {
    position: relative;
    float: left;
    transition: transform 3s ease-in-out;
}

.cvetak:hover {
    /*redundantno - ne treba: transition: transform 3s ease-in-out;*/
    transform: translateY(-30%) translateX(57%);
}

/* proba .cvetak:hover:hover {
    transform: rotateX(90deg);
}*/

@media (max-width: 900px) {
    .cvetak {
        width: 150px;
        height: 120px;
        position: static;
        float: none;
        transition: transform 5s ease-in-out;
    }

    .cvetak:hover {
        
        transform: rotate(3600deg);
    }
}


/*BUTTON*/
button {
    font-family: 'Cedarville Cursive', cursive;
    color: purple;
    font-weight: bolder;
    font-size: 1.5em;
}


/* @media */
@media (max-width: 890px) {
    .flex {
        flex-direction: column;
    }
}
  
@media (max-width: 746px) /*and (min-width: 675px) */ {
  .ucenje, .druzenje {
      position: static;
  }
}

@media (max-width: 612px) {
  /*.ucenje, .druzenje {
      display: none;
  }*/

  .zarotiraj {
      width: 100px;
      height: 100px;
  }

  .priblizi {
      width: 100px;
      height: 160px;
  }
}
 
@media (max-width: 654px) {
    iframe {
        width: 300px;
    }

    .wrapper {
        background-image: none;
    }
}

@media (max-width: 365px) {
  iframe {
    width: 50%;
    height: 50%;
  }

  .velikoIdebelo {
      font-size-adjust: inherit;
      font-weight: inherit;
  }

}

/*all seeing eye, fixed position*/

.imgFixed {
    position: fixed;
    right: 5px;
    top: 5px;
    /*transition: opacity 0.1s ease-in-out;*/
}

.imgFixed:hover {
    opacity: 0.6;
}

@media (max-width: 860px) {
    .imgFixed {
        width: 50px;
        height: 50px;
    }
}

.copyright {
    font-size: 0.75rem;
    margin: 5% 0;
}

/*problemcic sa logom -gde je vrh?*/
#vrh {
    padding-bottom: 1%;
}
